/**
  Define font paths for when compiling to the client.
 */

$fa-font-path: 'fonts/fontawesome-pro-5.2.0-web/webfonts';
$fontPathFA: 'fonts/fontawesome-pro-5.2.0-web/webfonts';
$fontPathOpenSans: 'fonts/openSans/webfonts';
$fontPathRoboto: 'fonts/roboto/webfonts';
